<!-- Remove the container if you want to extend the Footer to full width. -->


    <footer class="bg-dark text-center text-lg-start text-white">
      <!-- Grid container -->
      <div class="container p-4" align="right">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" align="left">
            <h5 class="text-uppercase">Contact to us</h5>
  
            <ul class="list-unstyled ">
              <li>
                <a href="#!" class="text-white text-decoration-none"><i class="fa fa-google"></i>Email : miebyvenki2004@gmail.com</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none"><i class="fa fa-whatsapp"></i> Phone : +9344506103</a>
              </li>
              <li>
                <a href="#!" class="text-white  text-decoration-none"><i class="fa fa-wikipedia-w"></i> mieinwiki.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 MIE:
        <a class="text-white" href="https://mdbootstrap.com/">www.mieoficialshop.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  
  
  <!-- End of .container -->