{% extends "main.html" %}
{%block title%}
  Registeration | MIE
{%endblock title%}
{% block content %}

   <section class="py-5 text-center container"  style='margin-top:70px;'>
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Best Seller</h1>
        <p class="lead text-muted">Our most popular based on sales,updated honerly</p>
        <p>
          <a href="{% url 'login'%}" class="btn btn-primary my-2">Already User</a>
          <a href="{% url 'register'%}" class="btn btn-secondary my-2">Register</a>
        </p>
      </div>
    </div>
  </section>
  <section class="bg-light py-4 my-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3">Catagory</h4>
          <hr style="border-color : #b8bfc2;">
        </div>

        {% for item in catagory %}
       
  <div class="card mb-4 col-lg-3" style="max-width: 540px;">
    <div class="row g-0">
       <div class="col-md-4">
        <img src={{item.image.url}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="" style="font-family:">{{item.name}}</h4>
          <p class="">{{item.description}}</p>
          <a href="{%url 'collections' item.name %}" class="btn btn-primary btn-sm">Show</a>
        </div>
      </div>
    </div>
  </div> 
  {% endfor %}
</div>
</div>
  </section>
{% endblock content %}
    

   
