{% extends "main.html" %}
{%block title%}
   MIE | Online Shoping
{%endblock title%}
{% block content %}

<section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3" style="font-weight:bold;">{{catagory_name}} Products </h4>
                <hr style="border-color:#b8bfc2;">
            </div>
            
            {% for item in products %}
       <div class="card mb-4 col-lg-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{item.product_image.url}} class="img-fluid rounded-start" alt="...">
        <hr style="border-color:#b8bfc2;">
      </div>
      <div class="col-md-8">
        
        <a href="{% url 'productview' catagory_name item.name %}" class="text-decoration-none">
        <div class="card-body">
          <h4 class="card-title text-primary text-size-small">{{item.name}}</h4>
          <p class="card-text">
           <span class="float-start old_price"><s>Rs.{{item.org_price | stringformat:'d'}}</s></span>
           <span class="float-end new_price">Rs.{{item.selling_price | stringformat:'d'}}</span>
          </p>
        </div>
    </a>
      </div>
    </div>
  </div> 

  {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
    

   
